@model Art_Gallery_RoughRiders.ViewModels.ArtDetailsViewModel
@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>
<table class="table">

    
        <tr>
            <td>
                <h3>Title: </h3>
                @Html.Raw(Model.ArtWorkTitle)
            </td>
            <td>
                @*<img src="@Html.DisplayFor(modelItem => item.ArtPieceImage)" />*@
              <img width="50%" src="@Url.Content(Model.ArtPieceImage)"/>
            </td>
            <td>
                <strong>Price: </strong>
                @*@Html.Display(Model.ArtPiecePrice)*@
              @String.Format("{0:n0}", Model.ArtPiecePrice)
            </td>
            <td>
                <strong>Dimensions: </strong>
                @Html.Raw(Model.ArtWorkDimensions)
            </td>
            <td>
                <strong>Inventory Count: </strong>
                @*@Html.Display(Model.InventoryCount)*@
              @String.Format("{0:n0}", Model.InventoryCount)
            </td>
            <td>
                <strong>Location: </strong>
                @Html.Raw(Model.ArtPieceLocation)
            </td>
        </tr>
    
</table>


