@model List<Art_Gallery_RoughRiders.ViewModels.ArtDisplayViewModel>
@{
    ViewBag.Title = "Artwork Inventory";
}

<h2>Art Gallery</h2>
@using (Html.BeginForm())
{
  <p>
    Artist: @Html.TextBox("searchString")
    @Html.Hidden("searchId", 1)
    <input type="submit" value="Search" />
  </p>
}

@using (Html.BeginForm())
{
  <p>
    Medium: @Html.TextBox("searchMedia")
    @Html.Hidden("searchId", 2)
    <input type="submit" value="Search" />
  </p>
}

@using (Html.BeginForm())
{
  <p>
    Min Price: @Html.TextBox("minPrice")
    Max Price: @Html.TextBox("maxPrice")
    @Html.Hidden("searchId", 3)
    <input type="submit" value="Search" />
  </p>
}


@*<table class="table">*@
<div class="container-fluid">
  <div class="row">
    @foreach (var item in Model)
    {
      
        <div class="col-md-2" style="margin-bottom:5px; height:200px; text-align:right">
          <a name='@String.Format("a{0}", item.ArtId)'></a>
          <img height="115px" src="@Url.Content(item.ArtWorkImage)" />
        </div>
      <div class="col-md-2" style="margin-bottom:5px; height:200px">
        <strong>@Html.DisplayFor(modelItem => item.ArtWorkTitle)</strong><br />
        @Html.DisplayFor(modelItem => item.ArtistName)<br />
        $@Html.DisplayFor(modelItem => item.ArtWorkPrice)<br />
        @Html.ActionLink("Show Details", "ArtDetails", new { artId = item.ArtId })
        
      </div>
      
    }
  </div>
</div>
@*</table>*@

