@model Art_Gallery_RoughRiders.ViewModels.InvoiceListViewModel
@{
    ViewBag.Title = "AgentInvoiceDetails";
}

<h2>Invoice Details</h2>


@foreach (var item in Model.InvoiceModels)
{
    <p>@Html.DisplayFor(Modelitem => item.agentName)</p>
    <p>@Html.DisplayFor(modelItem => item.customer)</p>
    <p>@Html.DisplayFor(modelItem => item.IdInvoice)</p>
}




@*<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="col-md-12">
                <h4>Sales Agent:</h4>
                <p>@Html.DisplayFor(modelItem => Model.AgentCustomerVM.AgentName)</p>
            </div>
            <div class="col-md-12">
                <h4>Customer Info:</h4>
                <p>@Html.DisplayFor(modelItem => Model.AgentCustomerVM.CustomerName)</p>
                <p>@Html.DisplayFor(modelItem => Model.AgentCustomerVM.CustomerAddress)</p>
                <p>@Html.DisplayFor(modelItem => Model.AgentCustomerVM.CustomerPhoneNumber)</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-12">
                @foreach (var item in Model.ArtPieceList)
                {
                    <h4>Art Piece Title:</h4>
                    <p>@Html.DisplayFor(modelItem => item.ArtWorkTitle)</p>
                    <h4>Artist:</h4>
                    <p>@Html.DisplayFor(modelItem => item.ArtistName)</p>
                    <h4>Art Piece Edition #:</h4>
                    <p>@Html.DisplayFor(modelItem => item.ArtPieceEditionNum)</p>
                    <h4>Location Sold:</h4>
                    <p>@Html.DisplayFor(modelItem => item.ArtPieceLoaction)</p>
                    <h4>Price:</h4>
                    <p>$@Html.DisplayFor(modelItem => item.ArtPiecePrice)</p>
                }
            </div>
        </div>
    </div>
</div>*@